body {
	height:100%;
	font-size:100.01%;
}
body {
	margin:0;
	color:#000;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	line-height: 18px;
	min-width:320px;
	
	text-size-adjust: none;
	-moz-text-size-adjust:none;
	-webkit-text-size-adjust:none; 
	-ms-text-size-adjust:none;
}
input[type=submit]:hover {
	cursor:pointer;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
img {
	border-style:none;
}
a {
	text-decoration:none;
	color:#3c7d2c;
}
a:hover {
	text-decoration:underline;
}
a:active {
	background-color: transparent;
}
input, textarea, select {
	vertical-align:middle;
	color:#808080;
	font:100% Arial, Helvetica, sans-serif;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
header, footer, article, section, nav, figure, aside { 
	display: block; 
}
::selection {
	color:#fff; 
	background:#3d7d2d;
}
::-moz-selection {
	color:#fff; 
	background:#3d7d2d;
}
#wrapper {
	width:100%;
	/*overflow:hidden;*/
	position:relative;
	height:100%;
	display:table;
}
#header {
	background: rgb(170, 209, 139);
	border: 5px solid #000000;
	overflow: hidden;
}
.w1 {
	display: table-row;
}
.header-panel {
	position: relative;
}
.header-panel .holder {
	max-width: 1000px !important;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5em;
}
.text-box {
	float: left;
	padding: 18px 0 10px 0;
	font-size: 24px;
}
.search-box {
	float: right;
	padding: 12px 10px;
	width: 24%;
}
.search-box .search-animate {
	-webkit-transition: all .33s ease;
	-moz-transition: all .33s ease;
	-ms-transition: all .33s ease;
	-o-transition: all .33s ease;
	transition: all .33s ease;
}
.search-box .search-input {
	position: relative;
	width: 100%;
	height: 30px;
	padding-left: 10px;
	font: 400 12px/30px 'Roboto', sans-serif;
	line-height: 28px;
	border-radius: 6px;
	border: none;
	text-align: left;
	-moz-box-shadow: inset 2px 2px 2px #D5D5D5;
	-webkit-box-shadow: inset 2px 2px 2px #D5D5D5;
	box-shadow: inset 2px 2px 2px #D5D5D5;
	padding-left: 30px;
	background: #e8e8e8 url('../images/search.png') 7px 7px no-repeat;
	color: #e8e8e8;
}
.search-box .search-input:focus {
	-moz-box-shadow: inset 0px 1px 1px rgb(139, 177, 110), inset 1px 0px 1px rgb(139, 177, 110), inset 0px -1px 1px rgb(139, 177, 110), inset -1px 0px 1px rgb(139, 177, 110);
	-webkit-box-shadow: inset 0px 1px 1px rgb(139, 177, 110), inset 1px 0px 1px rgb(139, 177, 110), inset 0px -1px 1px rgb(139, 177, 110), inset -1px 0px 1px rgb(139, 177, 110);
	box-shadow: inset 0px 1px 1px rgb(139, 177, 110), inset 1px 0px 1px rgb(139, 177, 110), inset 0px -1px 1px rgb(139, 177, 110), inset -1px 0px 1px rgb(139, 177, 110);
	outline: 0;
	background-position: 95% 7px;
	padding-left: 5px;
	color: black;
}
.logo {
    color: black;
}
.logo:hover {
    text-decoration: none;
}
.content {
	margin: 0 auto;
	height: 400px;
	width: 940px;
}
.content span {
    display: block;
    text-align: left;
    padding: 3px 0;
}
.content .content-right span {
    padding: 5px 0;
}
.content span.content-main-text {
    font-weight: bold;
    font-size: 24px;
    padding: 0;
}
.content .content-right span.content-main-text {
    padding-bottom: 25px;
}
.content span.content-description {
    padding: 25px 0;
}
.content-left, .content-right {
	width: 40%;
	display: inline;
	float: left;
	text-align: center;
	padding-top: 60px;
	height: 200px;
    margin-left: 92px;
}
.content .content-right {
    width: 200px;
}
.content-left {
	/*border-right: 2px solid;*/
	position: relative;
}
.content-left:after {
	position: absolute;
	content: '';
	left: 100%;
	top: 38%;
	height: 400px;
	width: 2px;
	background: black;
	margin-top: -38px;
}
.button {
    border: 1px solid #646f75;
    background: #5cb865;
    background: -webkit-gradient(linear, left top, left bottom, from(#6fd47b), to(#5cb865));
    background: -webkit-linear-gradient(top, #6fd47b, #5cb865);
    background: -moz-linear-gradient(top, #6fd47b, #5cb865);
    background: -ms-linear-gradient(top, #6fd47b, #5cb865);
    background: -o-linear-gradient(top, #6fd47b, #5cb865);
    background-image: -ms-linear-gradient(top, #6fd47b 0%, #5cb865 100%);
    padding: 0 6px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #7c8b94 0 1px 0;
    color: #4d5357;
    cursor: pointer;
    font-size: 14px;
    font-family: helvetica, serif;
    text-decoration: none;
    float: right;
    margin-top: -3px;
    vertical-align: middle;
    text-align: center;
    width: 45px;
}
.button:hover {
    border: 1px solid #586369;
    text-shadow: #7c8b94 0 1px 0;
    text-decoration: none;
    background: #50a858;
    background: -webkit-gradient(linear, left top, left bottom, from(#62cc6e), to(#50a858));
    background: -webkit-linear-gradient(top, #62cc6e, #50a858);
    background: -moz-linear-gradient(top, #62cc6e, #50a858);
    background: -ms-linear-gradient(top, #62cc6e, #50a858);
    background: -o-linear-gradient(top, #62cc6e, #50a858);
    background-image: -ms-linear-gradient(top, #62cc6e 0%, #50a858 100%);
    color: #4d5357;
}
.block-user-info {
    width: 600px;
    margin: 0 auto;
    padding-top: 65px;
}
.block-user-info .name-user {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 40px;
}
.block-user-info span {
    padding: 6px 0;
}
.block-user-info .button {
    padding: 2px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: none;
    margin-left: 65px;
}
.block-user-info img {
    width: 200px;
    border: 1px solid black;
    margin-bottom: 12px;
}
.block-user-info .user-info-left {
    width: 220px;
    float: left;
}
.block-user-info .user-info-right {
    width: 270px;
    float: left;
    padding-left: 60px;
}
.search-list li {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    border-bottom: 1px solid #eee;
}
.search-list .search-item-block .search-item-name {
    font-size: 22px;
}
.search-list .search-item-block a {
    padding-right: 30px;
    text-decoration: underline;
}
.search-list .search-item-watchers {
    width: 290px;
    float: left;
}
.search-list .search-item-button {
    width: 40px;
    height: 20px;
    float: right;
    margin-top: -22px;
}
.search-list .search-item-button .button{
    padding: 5px 16px;
    font-size: 16px;
}